SUITECRM_DOMAIN=crm.localhost
SUITECRM_DB_NAME=suitecrm
SUITECRM_DB_USER=suitecrm_user
SUITECRM_DB_PASSWORD=change_me
SUITECRM_DB_ROOT_PASSWORD=change_me_root
SUITECRM_PORT=8085
SUITECRM_DB_PORT=3307
