N8N_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_TIMEZONE=America/Tegucigalpa
SUITECRM_BASE_URL=http://host.docker.internal:8085
SUITECRM_CLIENT_ID=
SUITECRM_CLIENT_SECRET=
DJANGO_WEBHOOK_TOKEN=

